@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
    .mx-96 {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .w-96 {
      width: 100%;
    }
  
    .w-72 {
      width: calc(100% - 80px);
    }
  
    .h-12 {
      height: 40px;
    }
  
    .h-14 {
      height: 50px;
    }
  
    .text-xl {
      font-size: 16px;
    }
  
    .text-md {
      font-size: 14px;
    }
  
    .text-2xl {
      font-size: 18px;
    }
  
    .text-xl {
      font-size: 16px;
    }
  
    .text-xl {
      font-size: 16px;
    }
  
    .text-background {
      font-size: 18px;
    }
  }